.popup__close {
  grid-row: 1/2;
  grid-column: 2/3;
  background-color: transparent;
  display: flex;
  align-self: self-end;
  padding: 0;
  border: none;
  cursor: pointer;
  visibility: hidden;
}

.popup_opened .popup__close {
  visibility: visible;
}

.popup__close:hover {
opacity: .6;
}