@import url(__container/popup__container.css);
@import url(__button/popup__button.css);
@import url(__error_visible/popup__error_visible.css);
@import url(__close/popup__close.css);
@import url(__close-icon/popup__close-icon.css);
@import url(__form/popup__form.css);
@import url(__form/popup__form_avatar.css);
@import url(_opened/popup_opened.css);
@import url(__title/popup__title.css);
@import url(__field/popup__field.css);
@import url(__input/_type/popup__input_type_error.css);
@import url(__input/popup__input.css);
@import url(__input/_type/popup__input_type_name.css);
@import url(__input/_type/popup__input_type_job.css);
@import url(__input/_type/popup__input_type_title.css);
@import url(__input/_type/popup__input_type_url.css);
@import url(__input/_type/popup__input_type_error.css);
@import url(__save/popup__save.css);
@import url(__button_disabled/popup__button_disabled.css);
@import url(_type_edit/popup_type_edit.css);
@import url(_type_add/popup_type_add.css);
@import url(_type_photo/popup_type_photo.css);
@import url(__container-photo/popup__container-photo.css);
@import url(__image-big/popup__image-big.css);
@import url(__description/popup__description.css);
@import url(__click/popup__click.css);
@import url(_type_avatar/popup_type_avatar.css);
@import url(__form/popup__form__submit.css);
@import url(__title/popup__title_submit.css);
@import url(__save/popup__save_submit.css);

.popup {
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  align-items: center;
  justify-content: center;
  display: grid;
  margin-left: 20px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s linear;
}